meta(charset="UTF-8")
meta(name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0")
title Conceptualización, contexto, fundamentos, metodología y soporte jurídico del PFCE
meta(meta name="description" content="Se abordará ampliamente la esencia e importancia del Programa de Formación Continua Especializada – PFCE; lo cual conlleva a conocer los elementos claves para un excelente desempeño como evaluador de proyectos de formación, teniendo en cuenta el contexto, fundamentos y metodología empleada. Así también, se trabajarán los requisitos de participación en las convocatorias y los aspectos generales del pliego de condiciones.")    
link(rel="icon",type="image/svg+xml",href="assets/images/logos/senaLogo.svg")
link(rel="stylesheet", href="assets/fonts/feather/feather.css")
link(rel="stylesheet", href="assets/fonts/fontawesome/css/font-awesome.css")
link(href='assets/css/fancybox.css', rel='stylesheet')
link(href='assets/css/animate.css', rel='stylesheet')
link(rel="stylesheet", href="assets/css/main.css")