h2 Desarrollo de <br>contenidos
.brand-line-primary


.row.justify-content-center
    .col-12.col-sm-10

        .card.wow.flipInX(data-wow-delay=".4s")
            
            .card-body

                ul.list-group.list-group-flush.list.my-n3.nav-temas
                    +navTemaItem('1', 'Introducción', 'main.html#page/introduccion/')
                    +navTemaItem('2', 'Contexto, fundamentos y metodología', 'main.html#page/contexto/')
                    +navTemaItem('3', 'Requisitos de participación en las convocatorias', 'main.html#page/requisitos/')
                    +navTemaItem('4', 'Aspectos generales del pliego', 'main.html#page/aspectos/')