.container

    .header-ecored
        h1 Glosario

    .jumbotron.bg-white

        p
            strong.mr-2 Cadena productiva:
            | conjunto de acciones o procesos planificados y requeridos para la producción de bienes y/o servicios. Comprende todas las etapas de la cadena de valor hasta la entrega al consumidor (Pliego Convocatoria DG - 01 – 2020, pág. 49).
        
        p
            strong.mr-2 Competitividad:
            | es la capacidad de proporcionar productos y/o servicios con mayor eficacia y eficiencia frente a sus competidores (Pliego Convocatoria DG - 01 – 2020, pág. 50).
        p 
            strong.mr-2 Conviniente:	
            | empresa, grupo de empresas, gremios, federaciones gremiales, asociaciones representativas de empresas o trabajadores, centrales obreras o de trabajadores legalmente constituidas que suscriben un convenio (Pliego Convocatoria DG - 01 – 2020, pág. 50).
        p 
            strong.mr-2 Empresa:	
            | para la presente Convocatoria se entenderá empresa como cualquier entidad con personería jurídica, con ánimo de lucro o sin él (Pliego Convocatoria DG - 01 – 2020, pág. 50).
        p 
            strong.mr-2 Evaluador: 	
            | funcionario de planta SENA: instructores, coordinadores académicos o misionales, profesionales de carrera administrativa, provisionales y profesionales de prestación de servicios del Grupo Formación Continua Especializada (GFCE) de la Dirección General, encargados de realizar evaluación técnica a los proyectos presentados de acuerdo con lo establecido en el pliego de la convocatoria. (Pliego Convocatoria DG - 01 – 2020).
        p 
            strong.mr-2 Formación continua:
            | proceso de formación teórico-práctica que desarrolla en su concepto el aprendizaje durante toda la vida. Está constituida por un conjunto de acciones de formación para mejorar tanto las competencias y cualificaciones, como la recualificación de las personas ocupadas, que permiten armonizar el mejoramiento de los perfiles laborales con las necesidades de competitividad empresarial.
            | Las acciones de formación que se desarrollan en el marco del Acuerdo 00005 de 2014 van dirigidas a las empresas, los trabajadores o sus respectivas organizaciones, en función de la mejora de competencias y cualificaciones, así como de la recualificación de los trabajadores ocupados. (Pliego Convocatoria DG - 01 – 2020, pág. 51).

        p 
            strong.mr-2 Gremio:	
            | persona jurídica conformada por la agrupación de personas que tienen un mismo ejercicio o profesión y que pretenden en defensa de sus intereses comunes la consecución de un fin unitario, despojada de la finalidad de la distribución o reparto entre sus miembros de las utilidades o rendimientos que de la misma resulten. (Consejo de Estado Sala de lo Contencioso Administrativo Sección Cuarta Consejero Ponente: Juan Ángel Palacio Hincapié Bogotá D.C. Radicación número: 25000-23-27-000-2001-00885-01(14161). (Pliego Convocatoria DG - 01 – 2020, pág. 51).
        p 
            strong.mr-2 Pliego:
            | documento técnico y jurídico que contiene los términos que orientan a los proponentes para la presentación de las propuestas que se presentan en cada anualidad al Programa de Formación Continua Especializada – PFCE. (Pliego Convocatoria DG - 01 – 2020).
        p 
            strong.mr-2 Proponente:	
            | empresa o gremio que presenta propuesta en la Convocatoria del Programa de Formación Continua Especializada - PFCE (Pliego Convocatoria DG - 01 – 2020, pág. 54).
        p 
            strong.mr-2 Transferencia:
            | se entiende como el proceso de apropiación e incorporación del conocimiento, tecnologías y de las nuevas prácticas generadas en los proyectos y sectores productivos (Pliego Convocatoria DG - 01 – 2020, pág. 22).
       
